// SVG icon

.iconReset {
    font-size     : 0;
    line-height   : 0;
    display       : inline-block;
    vertical-align: middle;
}


.svgIconFacebook {
    width: 18px;
    height: 18px;
    fill: #f8f8f8;
}

.svgIconInstagram {
    width: 25px;
    height: 25px;
    fill: #f8f8f8;
}