{{> header }}
<div class="main" style="background-image: url('assets/img/main__bg.png');">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="title main__title">The right way to get a car</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-5 col-lg-3">
                <p class="title main__text">Monza Motorsports is a boutique-style dealership specializing in premium
                    imports. We offer an advanced online vehicle purchasing experience with integrated financing and
                    contactless home delivery.
                </p>
            </div>
            <div class="col-12 col-sm-5 col-lg-3">
                <p class="title main__text">All of our cars come with a 5 day/500 kilometres no-hassle exchange option.
                    Since 2012 Monza Motorsports
                    has been the benchmark for innovation in the automotive industry.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="main__btn basic__btn">
                    Browse cars
                </button>
            </div>
        </div>
    </div>
</div>
<section class="offer">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="title text-center">CURRENT OFFERS</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="filters__title">Filters</h2>
                <div class="filters">
                    <div class="filters__items d-flex">
                        <div class="inputfield">
                            <div class="select-inner">
                                <select name="sources" id="sources" class="custom-select sources" placeholder="Year">
                                    <option value="profile">Profile</option>
                                    <option value="word">Word</option>
                                    <option value="hashtag">Hashtag</option>
                                </select>
                            </div>
                        </div>
                        <div class="inputfield">
                            <div class="select-inner">
                                <select name="sources" id="sources" class="custom-select sources" placeholder="Make">
                                    <option value="profile">Profile</option>
                                    <option value="word">Word</option>
                                    <option value="hashtag">Hashtag</option>
                                </select>
                            </div>
                        </div>
                        <div class="inputfield">
                            <div class="select-inner">
                                <select name="sources" id="sources" class="custom-select sources" placeholder="Model">
                                    <option value="profile">Profile</option>
                                    <option value="word">Word</option>
                                    <option value="hashtag">Hashtag</option>
                                </select>
                            </div>
                        </div>
                        <div class="inputfield">
                            <div class="select-inner">
                                <select name="sources" id="sources" class="custom-select sources" placeholder="Trim">
                                    <option value="profile">Profile</option>
                                    <option value="word">Word</option>
                                    <option value="hashtag">Hashtag</option>
                                </select>
                            </div>
                        </div>
                        <div class="inputfield">
                            <div class="select-inner">
                                <select name="sources" id="sources" class="custom-select sources"
                                    placeholder="Mileage ">
                                    <option value="profile">Profile</option>
                                    <option value="word">Word</option>
                                    <option value="hashtag">Hashtag</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="filters__btn">
                        <button class="basic__btn filters__btn--basic">40 cars</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <div class="form-group">
                    <input type="checkbox" id="html">
                    <label for="html">Instantly available vehicles</label>
                </div>
            </div>
            <div class="col-7">
                <div class="sort">
                    <span class="sort__title">Sort by </span>
                    <div class="select-inner">
                        <select name="sources" id="sources" class="custom-select sources"
                            placeholder="Publication date (ascending)">
                            <option value="profile">Publication date (descending)</option>
                            <option value="word">Price (ascending)</option>
                            <option value="hashtag">Price (descending)</option>
                            <option value="profile">Mileage (ascending)</option>
                            <option value="word">Mileage (descending)</option>
                            <option value="hashtag">Performance (ascending)</option>
                            <option value="hashtag">Performance (descending)</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm-6">
                <div class="dropdown">
                    <div class="dropdown__title">
                        Sort by 
                    </div>
                    <div class="dropdown__inner">
                        <button class="dropdown__btn">
                            Publication date <span>(ascending)</span>
                        </button>
                        <ul class="dropdown__list">
                            <li class="dropdown__item">
                                Publication date (descending)
                            </li>
                            <li class="dropdown__item">
                                Price (ascending)
                            </li>
                            <li class="dropdown__item">
                                Mileage (ascending)
                            </li>
                            <li class="dropdown__item">
                                Mileage (ascending)
                            </li>
                            <li class="dropdown__item">
                                Performance (ascending)
                            </li>
                            <li class="dropdown__item">
                                Performance (ascending)
                            </li>
                        </ul>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="row">
            <div class="col col-sm-6 col-md-4 col-lg-3">
                <a href="#">
                    <div class="car__item new">
                        <div class="car__item-img">
                            <img src="assets/img/car1.png" alt="car">
                            <div class="label">New</div>
                        </div>
                        <div class="car__item-data">
                            <div class="car__item-info d-flex">
                                <span class="car__item-year">2017 </span>
                                <span class="car__item-name">Lexus RX 350 LUXURY</span>
                            </div>
                            <div class="car__item-details">
                                <span>39,850 km</span>
                                <span>Automatic</span>
                                <span>Diesel</span>
                            </div>
                            <div class="car__item-price">
                                $38,775
                            </div>
                        </div>
                        <div class="sold">sold</div>
                    </div>
                </a>
            </div>
            <div class="col col-sm-6 col-md-4 col-lg-3">
                <a href="#">
                    <div class="car__item">
                        <div class="car__item-img">
                            <img src="assets/img/car2.png" alt="car">
                            <div class="label">New</div>
                        </div>
                        <div class="car__item-data">
                            <div class="car__item-info d-flex">
                                <span class="car__item-year">2016 </span>
                                <span class="car__item-name">Lexus RX 350 F-SPORT</span>
                            </div>
                            <div class="car__item-details">
                                <span>86,000 km</span>
                                <span>Automatic</span>
                                <span>Gas</span>
                            </div>
                            <div class="car__item-price">
                                $34,888
                            </div>
                        </div>
                        <div class="sold">sold</div>
                    </div>
                </a>
            </div>
            <div class="col col-sm-6 col-md-4 col-lg-3">
                <a href="#">
                    <div class="car__item">
                        <div class="car__item-img">
                            <img src="assets/img/car3.png" alt="car">
                            <div class="label">New</div>
                        </div>
                        <div class="car__item-data">
                            <div class="car__item-info d-flex">
                                <span class="car__item-year">2015 </span>
                                <span class="car__item-name">Toyota Venza AWD XLE...</span>
                            </div>
                            <div class="car__item-details">
                                <span>99,000 km</span>
                                <span>Automatic</span>
                                <span>Diesel</span>
                            </div>
                            <div class="car__item-price">
                                $18,620
                            </div>
                        </div>
                        <div class="sold">sold</div>
                    </div>
                </a>
            </div>
            <div class="col col-sm-6 col-md-4 col-lg-3">
                <a href="#">
                    <div class="car__item sold-status">
                        <div class="car__item-img">
                            <img src="assets/img/car4.png" alt="car">
                            <div class="label">New</div>
                        </div>
                        <div class="car__item-data">
                            <div class="car__item-info d-flex">
                                <span class="car__item-year">2016 </span>
                                <span class="car__item-name">Mercedes-Benz GLE- Clksnalfn Clksnalfn</span>
                            </div>
                            <div class="car__item-details">
                                <span>59,800 km</span>
                                <span>Automatic</span>
                                <span>Diesel</span>
                            </div>
                            <div class="car__item-price">
                                $38,878
                            </div>
                        </div>
                        <div class="sold">sold</div>
                    </div>
                </a>
            </div>
            <div class="col col-sm-6 col-md-4 col-lg-3">
                <a href="#">
                    <div class="car__item new">
                        <div class="car__item-img">
                            <img src="assets/img/car1.png" alt="car">
                            <div class="label">New</div>
                        </div>
                        <div class="car__item-data">
                            <div class="car__item-info d-flex">
                                <span class="car__item-year">2017 </span>
                                <span class="car__item-name">Lexus RX 350 LUXURY</span>
                            </div>
                            <div class="car__item-details">
                                <span>39,850 km</span>
                                <span>Automatic</span>
                                <span>Diesel</span>
                            </div>
                            <div class="car__item-price">
                                $38,775
                            </div>
                        </div>
                        <div class="sold">sold</div>
                    </div>
                </a>
            </div>
            <div class="col col-sm-6 col-md-4 col-lg-3">
                <a href="#">
                    <div class="car__item">
                        <div class="car__item-img">
                            <img src="assets/img/car2.png" alt="car">
                            <div class="label">New</div>
                        </div>
                        <div class="car__item-data">
                            <div class="car__item-info d-flex">
                                <span class="car__item-year">2016 </span>
                                <span class="car__item-name">Lexus RX 350 F-SPORT</span>
                            </div>
                            <div class="car__item-details">
                                <span>86,000 km</span>
                                <span>Automatic</span>
                                <span>Gas</span>
                            </div>
                            <div class="car__item-price">
                                $34,888
                            </div>
                        </div>
                        <div class="sold">sold</div>
                    </div>
                </a>
            </div>
            <div class="col col-sm-6 col-md-4 col-lg-3">
                <a href="#">
                    <div class="car__item">
                        <div class="car__item-img">
                            <img src="assets/img/car3.png" alt="car">
                            <div class="label">New</div>
                        </div>
                        <div class="car__item-data">
                            <div class="car__item-info d-flex">
                                <span class="car__item-year">2015 </span>
                                <span class="car__item-name">Toyota Venza AWD XLE...</span>
                            </div>
                            <div class="car__item-details">
                                <span>99,000 km</span>
                                <span>Automatic</span>
                                <span>Diesel</span>
                            </div>
                            <div class="car__item-price">
                                $18,620
                            </div>
                        </div>
                        <div class="sold">sold</div>
                    </div>
                </a>
            </div>
            <div class="col col-sm-6 col-md-4 col-lg-3">
                <a href="#">
                    <div class="car__item sold-status">
                        <div class="car__item-img">
                            <img src="assets/img/car4.png" alt="car">
                            <div class="label">New</div>
                        </div>
                        <div class="car__item-data">
                            <div class="car__item-info d-flex">
                                <span class="car__item-year">2016 </span>
                                <span class="car__item-name">Mercedes-Benz GLE- Clksnalfn Clksnalfn</span>
                            </div>
                            <div class="car__item-details">
                                <span>59,800 km</span>
                                <span>Automatic</span>
                                <span>Diesel</span>
                            </div>
                            <div class="car__item-price">
                                $38,878
                            </div>
                        </div>
                        <div class="sold">sold</div>
                    </div>
                </a>
            </div>
            <div class="col col-sm-6 col-md-4 col-lg-3">
                <a href="#">
                    <div class="car__item new">
                        <div class="car__item-img">
                            <img src="assets/img/car1.png" alt="car">
                            <div class="label">New</div>
                        </div>
                        <div class="car__item-data">
                            <div class="car__item-info d-flex">
                                <span class="car__item-year">2017 </span>
                                <span class="car__item-name">Lexus RX 350 LUXURY</span>
                            </div>
                            <div class="car__item-details">
                                <span>39,850 km</span>
                                <span>Automatic</span>
                                <span>Diesel</span>
                            </div>
                            <div class="car__item-price">
                                $38,775
                            </div>
                        </div>
                        <div class="sold">sold</div>
                    </div>
                </a>
            </div>
            <div class="col col-sm-6 col-md-4 col-lg-3">
                <a href="#">
                    <div class="car__item">
                        <div class="car__item-img">
                            <img src="assets/img/car2.png" alt="car">
                            <div class="label">New</div>
                        </div>
                        <div class="car__item-data">
                            <div class="car__item-info d-flex">
                                <span class="car__item-year">2016 </span>
                                <span class="car__item-name">Lexus RX 350 F-SPORT</span>
                            </div>
                            <div class="car__item-details">
                                <span>86,000 km</span>
                                <span>Automatic</span>
                                <span>Gas</span>
                            </div>
                            <div class="car__item-price">
                                $34,888
                            </div>
                        </div>
                        <div class="sold">sold</div>
                    </div>
                </a>
            </div>
            <div class="col col-sm-6 col-md-4 col-lg-3">
                <a href="#">
                    <div class="car__item">
                        <div class="car__item-img">
                            <img src="assets/img/car3.png" alt="car">
                            <div class="label">New</div>
                        </div>
                        <div class="car__item-data">
                            <div class="car__item-info d-flex">
                                <span class="car__item-year">2015 </span>
                                <span class="car__item-name">Toyota Venza AWD XLE...</span>
                            </div>
                            <div class="car__item-details">
                                <span>99,000 km</span>
                                <span>Automatic</span>
                                <span>Diesel</span>
                            </div>
                            <div class="car__item-price">
                                $18,620
                            </div>
                        </div>
                        <div class="sold">sold</div>
                    </div>
                </a>
            </div>
            <div class="col col-sm-6 col-md-4 col-lg-3">
                <a href="#">
                    <div class="car__item sold-status">
                        <div class="car__item-img">
                            <img src="assets/img/car4.png" alt="car">
                            <div class="label">New</div>
                        </div>
                        <div class="car__item-data">
                            <div class="car__item-info d-flex">
                                <span class="car__item-year">2016 </span>
                                <span class="car__item-name">Mercedes-Benz GLE- Clksnalfn Clksnalfn</span>
                            </div>
                            <div class="car__item-details">
                                <span>59,800 km</span>
                                <span>Automatic</span>
                                <span>Diesel</span>
                            </div>
                            <div class="car__item-price">
                                $38,878
                            </div>
                        </div>
                        <div class="sold">sold</div>
                    </div>
                </a>
            </div>
            <div class="col col-sm-6 col-md-4 col-lg-3">
                <a href="#">
                    <div class="car__item new">
                        <div class="car__item-img">
                            <img src="assets/img/car1.png" alt="car">
                            <div class="label">New</div>
                        </div>
                        <div class="car__item-data">
                            <div class="car__item-info d-flex">
                                <span class="car__item-year">2017 </span>
                                <span class="car__item-name">Lexus RX 350 LUXURY</span>
                            </div>
                            <div class="car__item-details">
                                <span>39,850 km</span>
                                <span>Automatic</span>
                                <span>Diesel</span>
                            </div>
                            <div class="car__item-price">
                                $38,775
                            </div>
                        </div>
                        <div class="sold">sold</div>
                    </div>
                </a>
            </div>
            <div class="col col-sm-6 col-md-4 col-lg-3">
                <a href="#">
                    <div class="car__item">
                        <div class="car__item-img">
                            <img src="assets/img/car2.png" alt="car">
                            <div class="label">New</div>
                        </div>
                        <div class="car__item-data">
                            <div class="car__item-info d-flex">
                                <span class="car__item-year">2016 </span>
                                <span class="car__item-name">Lexus RX 350 F-SPORT</span>
                            </div>
                            <div class="car__item-details">
                                <span>86,000 km</span>
                                <span>Automatic</span>
                                <span>Gas</span>
                            </div>
                            <div class="car__item-price">
                                $34,888
                            </div>
                        </div>
                        <div class="sold">sold</div>
                    </div>
                </a>
            </div>
            <div class="col col-sm-6 col-md-4 col-lg-3">
                <a href="#">
                    <div class="car__item">
                        <div class="car__item-img">
                            <img src="assets/img/car3.png" alt="car">
                            <div class="label">New</div>
                        </div>
                        <div class="car__item-data">
                            <div class="car__item-info d-flex">
                                <span class="car__item-year">2015 </span>
                                <span class="car__item-name">Toyota Venza AWD XLE...</span>
                            </div>
                            <div class="car__item-details">
                                <span>99,000 km</span>
                                <span>Automatic</span>
                                <span>Diesel</span>
                            </div>
                            <div class="car__item-price">
                                $18,620
                            </div>
                        </div>
                        <div class="sold">sold</div>
                    </div>
                </a>
            </div>
            <div class="col col-sm-6 col-md-4 col-lg-3">
                <a href="#">
                    <div class="car__item sold-status">
                        <div class="car__item-img">
                            <img src="assets/img/car4.png" alt="car">
                            <div class="label">New</div>
                        </div>
                        <div class="car__item-data">
                            <div class="car__item-info d-flex">
                                <span class="car__item-year">2016 </span>
                                <span class="car__item-name">Mercedes-Benz GLE- Clksnalfn Clksnalfn</span>
                            </div>
                            <div class="car__item-details">
                                <span>59,800 km</span>
                                <span>Automatic</span>
                                <span>Diesel</span>
                            </div>
                            <div class="car__item-price">
                                $38,878
                            </div>
                        </div>
                        <div class="sold">sold</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="subscribe">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5">
                <h2 class="subscribe__heading">Haven't found a suitable vehicle?</h2>
                <div class="subscribe__descr">Sign up for our newsletter and be the first to know when we publish new
                    vehicle offers.
                </div>
            </div>
            <div class="col-sm-7 col-md-4 col-xl-5">
                <div class="subscribe__field">
                    <input type="text" placeholder="Enter your email">
                </div>
            </div>
            <div class="col-sm-5 col-md-3 col-xl-2">
                <button type="submit" class="basic__btn basic__btn--subscribe">
                    Subscribe now
                </button>
            </div>
        </div>
    </div>
</section>

<section class="faq">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="title text-center">popular questions</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 m-auto">
                {{> accordion }}
            </div>
        </div>

    </div>
</section>
{{> footer }}